div {
    background-color: green;
    height: 100px;
    text-align: center;
}

.roxo {
    background-color: purple;
    width: 49.6%;
    height: 200px;
    display: inline-block;
}

.amarelo {
    background-color: yellow;
    width: 49.6%;
    height: 200px;
    display: inline-block;
}

div {
    background-color: green;
    height: 100px;
}

.verde2 {
    background-color: green;
    height: 100px;
}

body{
    background-color: lightblue;
    font-size: 36px;
}